<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Autora</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="../js/auth.js"></script>
    <script defer src="../components/navbar.js"></script>
    <script defer src="../js/addAuthor.js"></script>
</head>
<body>
<main class="form-page">
    <h1>Dodaj Autora</h1>
    <form id="author-form" class="author-form">
        <label for="Name">Nazwa autora:</label>
        <input type="text" id="Name" name="Name" required>
        <button type="submit">Dodaj</button>
    </form>
    <div id="message"></div>
</main>
</body>
</html>
