<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodaj Gatunek</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="../js/auth.js"></script>
    <script defer src="../js/navbar.js"></script>
    <script defer src="../js/addGenre.js"></script>
</head>
<body>
    <main class="form-page">
    <h1>Dodaj Gatunek</h1>
    <form id="genre-form" class="genre-form">
        <label for="Name">Nazwa gatunku:</label>
        <input type="text" id="Name" name="Name" required>
        <button type="submit">Dodaj</button>
    </form>
    <div id="message"></div>
    </main>
</body>
</html>
