<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Autor</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/auth.js"></script>
    <script defer src="/components/navbar.js"></script>
    <script defer src="/components/book.js"></script>
    <script defer src="/js/author.js" type="module"></script>
</head>
<body>
    <h1 id="author-name"></h1>
    <div id="admin-buttons" style="display:none;">
        <button id="edit-author-btn">Edytuj autora</button>
        <button id="delete-author-btn">Usuń autora</button>
    </div>
    <h2>Książki autora:</h2>
    <ul id="book-list"></ul>
    <div id="message"></div>
</body>
</html>
