<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script defer src="../js/auth.js"></script>
  <script defer src="../components/navbar.js"></script>
  <script defer src="../components/book.js"></script>
  <script defer src="/js/deleteBook.js"></script>
</head>
<body>
<main class="form-page">
  <h1>Usuń Książkę</h1>
  <div id="book-details"></div>
  <button id="delete-btn" style="background:#c00;color:#fff;margin-top:1em;">Usuń książkę</button>
  <div id="message" style="margin-top:1em;"></div>
  <a href="/" class="back-button">← Wróć do listy książek</a>
</main>
</body>
</html>