<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Edytuj Książkę</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/auth.js"></script>
    <script defer src="/components/navbar.js"></script>
    <script defer src="/js/editBook.js"></script>
</head>
<body>
<main class="form-page">
    <h1>Edytuj Książkę</h1>
    <form id="edit-book-form" class="book-form">
        <label for="title">Tytuł:</label>
        <input type="text" id="title" name="title" required>

        <label for="ISBN">ISBN:</label>
        <input type="text" id="ISBN" name="ISBN" required>
        
        <label for="author">Autorzy:</label>
        <select id="author" name="author" required multiple></select>

        <label for="genre">Gatunki:</label>
        <select id="genre" name="genre" required multiple></select>

        <label for="PublicationDate">Data publikacji:</label>
        <input type="date" id="PublicationDate" name="PublicationDate" />

        <button type="submit">Zapisz zmiany</button>
    </form>
    <div id="message"></div>
    </main>
</body>
</html>
