<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Gatunek</title>
    <link rel="stylesheet" href="/css/style.css">
    <script defer src="/js/auth.js"></script>
    <script defer src="/components/navbar.js"></script>
    <script defer src="/components/book.js"></script>
    <script defer src="/js/genre.js" type="module"></script>
</head>
<body>
    <h1 id="genre-name"></h1>
    <h2>Książki w tym gatunku:</h2>
    <ul id="book-list"></ul>
    <div id="message"></div>
</body>
</html>
