<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wypożyczalnia Książek</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="../js/auth.js" defer></script>
    <script  src="../js/app.js" defer></script>
</head>
<body>

      <div class="header-bar">
    <h1>📚 Wypożyczalnia Książek</h1>
        <div id="auth-buttons">
            <a href="/login" class="auth-button" id="login-btn">Zaloguj się</a>
            <a href="/register" class="auth-button" id="register-btn">Zarejestruj się</a>
            <a href="/library" class="auth-button" id="library-btn" style="display: none">Moja biblioteka</a>
            <a href="/admin" class="auth-button" id="admin-btn" style="display: none">Panel admina</a>
            <div id="user"></div>
            <button class="auth-button" id="logout-btn" style="display: none">Wyloguj się</button>
        </div>
</div>
    <main>
        <section id="book-list">
            <p>Ładowanie książek...</p>
        </section>
    </main>
</body>
</html>